.header-content {
    display: flex;
    justify-content: space-between; /* Spreads the logo and hamburger menu apart */
    align-items: center; /* Aligns them vertically */
}

.hamburger-menu {
    display: none; /* Hidden by default, shown only in mobile view */
    background: none;
    border: none;
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
}

.mobile-nav {
    display: none; /* Hidden by default */
}

/* Media query to show the menu button on mobile devices */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
        position: absolute; /* Position the hamburger menu */
        top: 20px; /* Adjust as needed */
        left: 10px; /* Adjust as needed */
        z-index: 2; /* Ensure it's above other content */
    }

    .header-logo {
        position: relative; /* Adjust if needed */
        right: 0px; /* Adjust as needed */
    }

    .mobile-nav {
        /* Styling for the mobile nav menu */
        position: absolute;
        top: 60px; /* Directly below the header */
        left: 0;
        width: 100%;
        background: #fff; /* or your preferred background color */
        border-top: 1px solid #ccc;
        z-index: 10;
    }
    .mobile-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .mobile-nav li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }
    
    .mobile-nav li:last-child a {
        border-bottom: none;
    }

    header {
        flex-direction: column;
    }
    nav ul {
        padding-top: 10px;
        margin-right: 0;
    }
    footer {
        flex-direction: column;
    }
    .footer-section {
        margin-bottom: 20px;
    }
    .social-links {
        order: -1;
        margin-bottom: 20px;
    }
    .content-section {
        grid-template-columns: 1fr; /* stacks blocks vertically on small screens */
    }
}

/* Additional styles for active state */
.mobile-nav.active {
display: block;
}        
